html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.title-p {
    font-family: 'Kanit', sans-serif;
    color: dimgray;
}
.table-p th,td{
    padding:15px;
}